<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa Seria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
  <div data-include="/template/header.html"></div>

    <main class="main-container">
      <h1>mi vuelo</h1>
    </main>
    
 
    <div data-include="/template/footer.html"></div>
 <script src="../main.js"></script>
    <script src="../script.js"></script>

    <script>
      // Función para redirigir a la página de Reservas
document.getElementById('reservasBtn').addEventListener('click', function() {
    window.location.href = '../views/reservas.html';
});

// Función para redirigir a la página de Mi Vuelo
document.getElementById('miVueloBtn').addEventListener('click', function() {
    window.location.href = '../views/mivuelo.html';
});
    </script>
</body>
</html>
