<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa Seria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reserva.css">
</head>
<body>
    <header>
        <a href="/index.html">
            <div class="logo-container">
                <img src="../imagenes/logo.png" alt="Logo" class="logo-img">
                <span class="logo-text">
                    Tu<br><span style="line-height: 0;">Vuelo </span>
                </span>
            </div>
        </a>
        <button id="reservasBtn" class="header-btn reservas-btn">
            <a href="reservas.html">Reservas</a>
        </button>
        <button id="miVueloBtn" class="header-btn mi-vuelo-btn">
            <a href="mivuelo.html">Mi Vuelo</a>
        </button>
        <button id="iniciarSesionBtn" class="header-btn iniciar-sesion-btn">Iniciar Sesión</button>
        <button class="header-btn menu-btn">≡</button>
    </header>

    <div class="additional-header">
        <div class="option">ENCONTRAR VUELO</div>
        <div class="option">Normal</div>
        <div class="option">Ida y Vuelta</div>
    </div>
    

    <main class="main-container">
        <div class="parent">
            <div>
                <div class="grid-container">
                    <input type="text" placeholder="Campo 1">
                    <input type="text" placeholder="Campo 2">
                    <input type="text" placeholder="Campo 3">
                    <input type="text" placeholder="Campo 4">
                </div>
                <div class="calendar-container">
                    <div class="calendar"></div>
                </div>
            </div>
            <div class="blank-space1">
                <h1>espacio 1</h1>
            </div>
            <div class="blank-space2">
                <h1>espacio 2</h1>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-column" style="align-items: center;">
                <p>Búscanos en:</p>
                <i class="fa-brands fa-facebook" style="font-size: 25px;"></i>
                <i class="fa-brands fa-instagram" style="font-size: 25px;"></i>
                <i class="fa-brands fa-x-twitter" style="font-size: 25px;"></i>
            </div>
            <div class="footer-column centered">
                <p>Página Legal</p>
                <ul>
                    <li>Política de privacidad</li>
                    <li>Términos y condiciones</li>
                    <li>Aviso legal</li>
                </ul>
            </div>
            <a href="/index.html">
                <div class="footer-column centered">
                    <div class="logo-container">
                        <img src="../imagenes/logo.png" alt="Logo" class="logo-img">
                        <span class="logo-text">
                            Tu<br><span style="line-height: 0;">Vuelo</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Todos los derechos reservados © Tu Vuelo 2024</p>
        </div>
    </footer>
    
    <script src="/script/script.js"></script>
</body>
</html>
