<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empresa Seria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../css/reserva.css" />
    <link rel="stylesheet" href="../css/estilos.css" />
</head>

<body>
    <header>
        <a href="/index.html">
            <div class="logo-container">
                <img src="../imagenes/logo.png" alt="Logo" class="logo-img" />
                <span class="logo-text">
                    Tu<br /><span style="line-height: 0">Vuelo </span>
                </span>
            </div>
        </a>
        <button id="reservasBtn" class="header-btn reservas-btn">
            <a href="reservas.html">Reservas</a>
        </button>
        <button id="miVueloBtn" class="header-btn mi-vuelo-btn">
            <a href="mivuelo.html">Mi Vuelo</a>
        </button>
        <button id="iniciarSesionBtn" class="header-btn iniciar-sesion-btn">
            Iniciar Sesión
        </button>
        <button class="header-btn menu-btn">≡</button>
    </header>

    <main>
        <section class="grid-container">
            <div class="grid-item">
                <p style="text-align: center">Encontrar Vuelo</p>
            </div>
            <div class="grid-item">
                <button id="normalBtn" class="full-width-btn">Normal</button>
              </div>
              <div class="grid-item">
                <button id="idaVueltaBtn" class="full-width-btn">Ida y Vuelta</button>
              </div>
              
            <div class="grid-item">
                <img src="../imagenes/encontrar.jpg" alt="Imagen" class="centered-img" />
            </div>
        </section>

        <section class="formulario-seccion">
            <div class="grid-container">
                <div class="grid-item">
                    <input type="text" placeholder="Código Vuelo" />
                </div>
                <div class="grid-item">
                    <input type="text" placeholder="Usuario" />
                </div>
                <div class="grid-item">
                    <input type="text" placeholder="Origen" />
                </div>
                <div class="grid-item">
                    <input type="text" placeholder="Destino" />
                </div>
                <div class="grid-item">
                    <div class="date-input-container">
                        <input type="text" id="fechaInput" placeholder="Fecha" />
                        <button id="fechaIconBtn">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>

                <div class="grid-item">
                    <button id="buscarBtn" onclick="mostrarContenido('contenidoSecreto')">BUSCAR</button>
                </div>
            </div>
        </section>

        <section>
            <div id="contenidoSecreto" class="Contenido-secreto" style="text-align: center;">
                <img src="../imagenes/busqueda.png" alt="Buscar">
            </div>
        </section>
          
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-column" style="align-items: center">
                <p>Búscanos en:</p>
                <i class="fa-brands fa-facebook" style="font-size: 25px"></i>
                <i class="fa-brands fa-instagram" style="font-size: 25px"></i>
                <i class="fa-brands fa-x-twitter" style="font-size: 25px"></i>
            </div>
            <div class="footer-column centered">
                <p>Página Legal</p>
                <ul>
                    <li>Política de privacidad</li>
                    <li>Términos y condiciones</li>
                    <li>Aviso legal</li>
                </ul>
            </div>
            <a href="/index.html">
                <div class="footer-column centered">
                    <div class="logo-container">
                        <img src="../imagenes/logo.png" alt="Logo" class="logo-img" />
                        <span class="logo-text">
                            Tu<br /><span style="line-height: 0">Vuelo</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="footer-bottom">
            <p class="copyright">Todos los derechos reservados © Tu Vuelo 2024</p>
        </div>
    </footer>

    <script src="/script/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css" />
    <script>
        $(document).ready(function() {
            $("#fechaIconBtn").click(function() {
                $("#fechaInput").datepicker({
                    dateFormat: 'dd/mm/yy', 
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    changeMonth: true,
                    changeYear: true
                });
            });
        });
        </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const normalBtn = document.getElementById("normalBtn");
      const idaVueltaBtn = document.getElementById("idaVueltaBtn");
      const buscarBtn = document.querySelector(".formulario-seccion button");
      const resultado = document.querySelector(".gridresultado");
  
      normalBtn.addEventListener("click", function() {
        normalBtn.classList.add("pressed");
        idaVueltaBtn.classList.remove("pressed");
      });
  
      idaVueltaBtn.addEventListener("click", function() {
        idaVueltaBtn.classList.add("pressed");
        normalBtn.classList.remove("pressed");
      });
  
    });
  </script>

<script>
    function mostrarContenido(idContenido) {
        var contenidoSecreto = document.getElementById('contenidoSecreto');
        contenidoSecreto.style.display = 'none';

        var contenidoAMostrar = document.getElementById(idContenido);
        if (contenidoAMostrar) {
            contenidoAMostrar.style.display = 'block';
        }
    }
    
    
        </script>
  
        
</body>


</html>
